/* Put your custom CSS rules here */
:root {
    border-top: none;
}

a {
    color: dodgerblue;
}

hr {
    opacity: 0.4;
}

nav {
    text-align: center;
    color: color-mix(in srgb, var(--dark) 40%, transparent);
}

nav a {
    color: var(--dark);
}

footer {
    opacity: 0.4;
}

.creator {
    text-align: center;
    font-size: .75em;
    opacity: 0.25;
}s
